In [1]:
VERSION="1.0.1"

In [2]:
import os
os.environ["HADOOP_USER_NAME"] = "hdfs"

In [3]:
import numpy as np
import pandas as pd

import findspark
findspark.init()

from pyspark.sql import SparkSession
from pyspark.sql.types import IntegerType
from pyspark.sql.functions import col
sparkSession=SparkSession.builder.config('spark.local.dir', '/tmp').config("spark.executor.memory", "8g").config("spark.driver.memory", "8g").config("spark.driver.maxResultSize", "0").config("spark.shuffle.registration.maxAttempts", "1").config("spark.task.maxFailures", "1").appName("jupyter").getOrCreate()

WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/usr/local/spark-3.2.0-bin-hadoop3.2/jars/spark-unsafe_2.12-3.2.0.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/03/15 09:34:24 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
23/03/15 09:34:24 WARN SparkConf: Note that spark.local.dir will be overridden by the value set by the cluster manager (via SPARK_LOCAL_DIRS in mesos/standalone/kubernetes and LOCAL_DIRS in YARN).

In [2]:
import pyspark.sql.functions as f
encoded_rows = sparkSession.read.parquet("hdfs://172.30.17.145:8020/user/admin/sla/v00001/v00000/encoded/senders/enc/*.parquet"  + "/*")

In [4]:
import pyspark.sql.functions as f
sparkSession.read.parquet("hdfs://172.30.17.145:8020/user/admin/sla/v00001/v00000/encoded/senders/enc/*.parquet"  + "/*").repartition(1).write.mode("append").parquet("hdfs://172.30.17.145:8020/user/admin/sla/v00001/v00000/encoded/senders/one_file/" + VERSION + "/")

In [4]:
import pyspark.sql.functions as f

num_encoded_rows = encoded_rows.count()
num_encoded_rows_by_year = encoded_rows.groupBy(f.col("year"), f.col("month")).count().orderBy(f.col("year"), f.col("month")).toPandas()

In [5]:
print("Number of encoded rows: " + str(num_encoded_rows))
print("Number of encoded rows by year: \n" + str(num_encoded_rows_by_year))

Number of encoded rows: 57966217
Number of encoded rows by year:
    year  month    count
0   2019     10    76467
1   2019     11   722211
2   2019     12   849370
3   2020      1  1145474
4   2020      2   983907
5   2020      3  1100777
6   2020      4  1029538
7   2020      5   968144
8   2020      6  1098602
9   2020      7  1355497
10  2020      8  1380564
11  2020      9  1222625
12  2020     10  1320187
13  2020     11  1296009
14  2020     12  1254080
15  2021      1  1108384
16  2021      2  1274073
17  2021      3  1633120
18  2021      4  1152709
19  2021      5  1142477
20  2021      6  1173720
21  2021      7  1725361
22  2021      8  1626424
23  2021      9  1369719
24  2021     10  1228531
25  2021     11  1458984
26  2021     12  1901519
27  2022      1  2029761
28  2022      2  1809473
29  2022      3  1924678
30  2022      4  1751997
31  2022      5  1889257
32  2022      6  1716909
33  2022      7  1804309
34  2022      8  1782924
35  2022      9  2159065
36  2022     10  2117793
37  2022     11  2115933
38  2022     12  2276109
39  2023      1  1977666
40  2023      2    11870